# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- List popular libraries
- Evaluate arithmetic expressions
- wrote a code to convert 200 minutes intp hours

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. PyTorch

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python:
1. 1+2
2. 4*5
3. 2**5
4. 6/3

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200.0/60.0

3.3333333333333335

## Author
Valentin